
h1,h2,h3,h4,h5 {font-family:'Conv_BebasNeue Regular';}
a {text-decoration:none; font-family:'Conv_BebasNeue Regular';}
.main {box-shadow: 0 3px 10px #000000;  margin: 50px 0 0;}
.header h3 {margin: 12px 0; padding: 0 15px;}
.header h3 a{color:#000;outline:none; transition: all 0.5s ease 0s;}
.header h3 a:hover{color:#a80d13; text-decoration:none;}

.bg-main {background: url(../images/page_background.jpg) no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
}
.container .header {
    background: url(../images/upper_banner.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 280px;
    float: left;
    width:100%;
}

.header-mid {overflow: hidden;  padding: 39px 0;}
.header-mid  h2{color:#fff; margin:17px 15px;}
.header-mid h3 {color: #fff;
                font-size: 28px;
                font-weight: bold;
                margin: 32px 0 0 12px;}
.header-mid h3 a{color:#fff; text-decoration:none; margin-left: 5px;}
.header-mid h3 a:hover{color:#d9d9d9; text-decoration:none;}
.header-bottom h2 {color:#000; margin:10px 0 0 0px;}
.header-bottom h2 a{color:#000; text-decoration:none;}
.header-bottom h2 a:hover{color:#1d1d1d; text-decoration:none;}
.coach-icon { 
			background-image: url("../images/coaches_signup.png");
			background-repeat:no-repeat;
			background-size:20px 24px;
            display: inline-block;
            height: 25px;
            margin-top: 4px;
            width: 22px;
            position:absolute;
}
.profile-nav li a {padding-left:25px;}
.profile-header .profile-nav li i {font-size: 16px; margin-top: 5px; position: absolute; color: #000000;}
.signup-icon { 
				background-image: url("../images/sign_up.png");
				background-repeat:no-repeat;
				background-size:20px 24px;
               display: inline-block;
               height: 25px;
               margin-top: 4px;
               width: 22px;
               position:absolute;
}
.blog-icon {
			background-image: url("../images/blog.png");
				background-repeat:no-repeat;
				background-size:21px 20px;
             display: inline-block;
             height: 20px;
             margin-top: 8px;
             width: 22px;
             position:absolute;
}
.member-icon { 
				background-image: url("../images/player_icon.png");
				background-repeat:no-repeat;
				background-size:50px 74px;
               display: inline-block;
               height: 74px;
               width: 50px;
               position: absolute;
               right: 40px;
               top: 0;
}
.content {background:#fff; padding: 15px 15px 30px; width:100%; height:auto; float: left;}
.member-service h1 {background: none repeat scroll 0 0 #aa0f13;
                    color: #ffffff;
                    font-weight: bold;
                    padding: 10px 25px;
                    margin: 15px 0 0;}
.member-service .member-service-content 	{
    background: url(../images/servies_bg.png) no-repeat center center #A3A6AF; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 25px;
    float: left;
    width:100%;
}
.member-service-content h2 {margin:0px; color:#000; font-weight:bold;}
.member-service-list {padding: 15px 0px 0px 15px; margin:0px;}
.member-service-list li {font-family: Calibri; font-size: 16px; color:#000; list-style-type: square;}
.margin-top-5 {margin-top:5px;}
.feature-coming {background: none repeat scroll 0 0 #0e689d;
                 margin-top: 15px;
                 padding: 20px;}
.feature-coming h1 {border-bottom: 4px double #2d79aa;
                    color: #ffffff;
                    margin-top: 0;
                    padding-bottom: 14px;}

.feature-coming-content, .feature-coming-content2 { overflow: hidden; margin: 8px 0; }
.feature-coming-content img {width:100px;}
.feature-coming-content p {color: #e2e2e2;
                           float: right;
                           font-size: 13px;
                           overflow: hidden;
                           text-align: justify;
                           width: 185px;}
.feature-coming-content2 img {width:100px;}
.feature-coming-content2 p {color: #e2e2e2;
                            float: right;
                            font-size: 13px;
                            overflow: hidden;
                            text-align: justify;
                            width: 185px;}
.orange { background: none repeat scroll 0 0 #ffb61c !important;
          border-color: #ffb61c;
          box-shadow: 0 3px 0 #b17200;
          color: #000000 !important;
          font-family: "Conv_BebasNeue Regular";
          font-size: 22px;
          font-weight: bold;
          margin-top: 15px;}
.orange:hover {background:#ffc026 !important; border-color: #ffc026;}
.advertisement {margin-top:20px; background:#EAEBEF; padding:20px;}
.advertisement h1 { color:#B9BABE; font-size:50px; text-align:center;}
.footer {padding:20px 0px; background-color: rgba(255, 255, 255, 0.5);}
.footer p {text-align:center; font-weight:bold; color:#000; font-family: Calibri; margin: 0; }




/*----profile-header----*/
.container .profile-header {
    background: url(../images/ujpper_background.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 280px;
    float: left;
    width:100%;
}
.container .profile-header-ladies {
    background: url(../images/pattern2.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 280px;
    float: left;
    width:100%;
}
.profile-header h3 {margin-top:10px;}
.profile-header .header-mid {overflow: hidden;  padding: 55px 0;}
.profile-header .header-mid  h2{font-size:36px;}
.profile-nav {list-style:none; font-family:'Conv_BebasNeue Regular'; color:#000; font-size:20px; padding-left:15px; margin:0px; padding-top: 6px;}
.profile-nav li {float:left; margin-left:35px;  margin-top: 4px;}
.profile-nav li:first-child {margin-left:15px;}
.profile-nav li a {color:#000; transition: all 0.5s ease 0s;}
.profile-nav li a:hover {color:#A80D13; text-decoration:none;}
.weekly-icon { background: url("../images/weekly_icon.png") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
               display: inline-block;
               height: 53px;
               position: absolute;
               right: 40px;
               top: 19px;
               width: 57px;
}
.member-service .current-week-workout 	{
    background: rgba(228,227,232,1);
    background: -moz-linear-gradient(top, rgba(228,227,232,1) 0%, rgba(211,212,216,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,227,232,1)), color-stop(100%, rgba(211,212,216,1)));
    background: -webkit-linear-gradient(top, rgba(228,227,232,1) 0%, rgba(211,212,216,1) 100%);
    background: -o-linear-gradient(top, rgba(228,227,232,1) 0%, rgba(211,212,216,1) 100%);
    background: -ms-linear-gradient(top, rgba(228,227,232,1) 0%, rgba(211,212,216,1) 100%);
    background: linear-gradient(to bottom, rgba(228,227,232,1) 0%, rgba(211,212,216,1) 100%);
    padding: 25px;
    float: left;
    width:100%;
}
.current-week-workout h2 {margin-top:0px; color:#000; font-weight:bold; margin-bottom: 15px;}
.current-week-workout h3{ color: #aa0d14;
                          font-size: 26px;
                          font-weight: bold;
                          margin-bottom: 0;
                          margin-top: 0px;}
.current-week-workout img {
  background: #ffffff ;
  border-radius: 3px; 
  padding: 5px;  
}
.profileGellery img{ margin: 16px; }
.no-padding-right {padding-right:0px;}
.no-padding-left{padding-left:0px;}
.current-week-workout p {font-size:18px; font-family: Calibri; color:#000; margin-top:10px; }
.batting-statistics {
    background: none repeat scroll 0 0 #0e689d;
    margin-top: 15px;
    padding: 20px;
}
.batting-statistics h3 {color:#fff; margin-top:0px;}
.batting-statistics .table {color:#fff; border-top:0px solid transparent; font-family: Calibri; text-transform:uppercase; font-size:18px; margin-bottom:0px;}
.batting-statistics .table  .text-left {padding-left:0px; width:40%}
.batting-statistics .table  .text-right {padding-right:0px; width:40%}
.batting-statistics .table td {border-top:0px solid transparent;   padding: 5px; }
.batting-statistics .table .lower{text-transform:lowercase;}
.profile-current img {width:100%;}
.profile-current  h4 {font-size:17px;}
.profile-current  p {color: #aa0f13;
                     font-family: Calibri;
                     font-size: 12px;
                     font-weight: bold;
                     text-align: center;
}
.profile-current {margin-top: 15px;}
.player-icon-bg {background: url("../images/icon_player.png") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
                 top: 80px;
                 display: block;
                 height: 222px;
                 position: absolute;
                 right: 25%;
                 width: 150px;}
.navbar-toggle {background: none repeat scroll 0 0 #000; margin-right: 0;}
.navbar-toggle .icon-bar {
    background: none repeat scroll 0 0 #fff;
    border-radius: 1px;
    color: #fff;
    display: block;
    height: 2px;
    width: 22px;
}
.navbar-header {margin: 0 auto;
                text-align: center;
                width: 45px;}


/*----End Profile header---*/
.about .member-service-content p {font-size:16px; font-family: Calibri; color:#000; }
.advertisement h3 {margin:0px; text-align:center; color:#000;}
.update-profile .form-group {display:table; width:100%;}
.update-profile .form-group label {font-size:16px; font-family: Calibri; color:#000; font-weight:normal;}
.update-profile .form-group .form-control {font-size:16px; font-family: Calibri; color:#000; font-weight:normal;}
.form-control {height: 36px;}
label {margin-bottom: 0 !important; margin-top: 4px;}
.update-profile h4 { font-size: 25px; font-weight: normal;  margin-top: 10px ; color:#000;}
.workout h5 { background: none repeat scroll 0 0 #0178af;
              color: #ffffff !important;
              font-size: 24px !important;
              font-weight: normal;
              margin-bottom: 0;
              margin-top: 10px;
              padding: 8px 15px;}
.workout-inner {background: none repeat scroll 0 0 #f5f5f5;
                border: 1px solid #a9a9a9;
                padding: 3px 15px;}
.practice h5 { background: none repeat scroll 0 0 #0178af;
               color: #ffffff !important;
               font-size: 24px !important;
               font-weight: normal;
               margin-bottom: 0;
               margin-top: 10px;
               padding: 8px 15px;}
.practice-inner{background: none repeat scroll 0 0 #f5f5f5;
                border: 1px solid #a9a9a9;
                padding: 3px 15px;}
.no-padding {padding:0px;}
.form-group {
    margin-bottom: 10px !important;
}
.blue-border {background: none repeat scroll 0 0 #01628d;
              border-bottom: 4px solid #999999;
              border-top: 4px solid #999999;
              height: 18px;
              margin: 25px -25px;}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -20px;
    margin-top: 7px;
}
.update-profile h5 { color: #000000;
                     font-size: 18px;}
.game-stats h4 { color:#000; font-size:22px; margin-top:0px;}
.game-stats p { color:#000; font-size:18px; font-family: Calibri; margin-top:0px;}
/* .game-vs-game {width: 280px !important;} */
.game-stats-table {background: none repeat scroll 0 0 #0e689d;
                   margin-top: 15px;
                   padding: 0 10px 10px;}
.game-stats-table  h3{background: none repeat scroll 0 0 #004a71;
                      font-size: 16px;
                      padding: 8px 10px;
                      text-align: center;
                      margin: 15px -10px 10px;}
.game-stats-table  td{ font-size: 16px; }
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 14px;
    padding: 4px 5px;
}
.current-gpa {padding:75px 30px; margin-top: 7px;}
.error-message .message {background: none repeat scroll 0 0 #ffb5b5;
                         border: 1px solid #ff6a6a;
                         border-radius: 4px;
                         font-family: calibri;
                         font-size: 13px;
                         margin-top: 15px;
                         padding: 4px 10px;} 

.login-button {margin-top:15px;}


#popover640679 {
    left: 583px;
    min-width: 327px;
    position: absolute;
    top: 65px;}
#popover640679 .arrow {left: 88%;}
.update-profile .popover.popovershow{left:0px!important; top:25px!important;}
.update-profile .popover.popovershow .arrow {left:36%!important;}
.popover-content {
    font-family: calibri;
}
.profile-help {cursor:pointer; text-decoration:none; color:#fff;}
.profile-help:hover +.popover {color: #2f2f2f;
                               display: block !important;
                               font-family: calibri;
                               font-size: 14px;
                               font-weight: normal;
                               line-height: 20px;
                               text-align:justify;}
.profile-help:hover {color:#fff;}

.popover-title {font-size:18px;}

.error-Msg {
    background-color: #f2dede;
    border: 1px solid #d9babf;
    border-radius: 3px;
    color: #a94442;
    font-size: 12px;
    margin-top: 2px;
    padding: 4px 10px;
}
.success-msg { background: none repeat scroll 0 0 #e3fde3;
               border: 1px solid #45b245;
               border-radius: 3px;
               color: #008000;
               font-size: 12px;
               padding: 5px 10px;
			   
			}
.success { background: none repeat scroll 0 0 #e3fde3;
          border: 1px solid #45b245;
          border-radius: 3px;
          color: #008000;
          font-size: 16px;
          padding: 0px 10px;
		  position: absolute;
			top: -12px;
			width: 50%;
		}
.error-Msg span:not(:last-child) {
    display: block;
    font-size: 12px !important;
    margin-bottom: 5px;
}
.text-red {
    color: #ff0000;
    display: inline-block;
    font-size: 17px;
    line-height: 10px;
    margin-right: 2px;
}
.gender-label label {margin-right:30px;}
.all-feature {background: none repeat scroll 0 0 #e2e2e2 !important;}
.all-feature .border {border-bottom: 1px dashed #000000; padding: 10px 0px; }
.all-feature .border .col-sm-3 img {width:100%;}
.fielding-position div{width:50%; float: left; padding: 3px 0; font-family: Calibri; font-size: 16px; color:#000;}
.separate-box {border: 1px solid #757575; border-radius: 4px; margin-top: 5px; padding: 0 4px 5px;}
.separate-box .col-sm-12 {padding-bottom: 8px; text-align: center;}








@media (max-width:320px){
    .member-service h1 { padding: 10px 15px; font-size:30px;}
    #popover640679 { left: 0; min-width: 290px; position: absolute; top: 43px;}
    #popover640679 .arrow { left: 86%;}
	.member-icon {right: 28px;}

}


@media (max-width:767px){
    .header-mid {
        overflow: hidden;
        padding: 107px 0 130px;
    }
    .header-mid {text-align:center;}
    .header-bottom {overflow: hidden;
                    padding-bottom: 10px;}
    .header-bottom .col-sm-3 .pull-right{float:left !important;}
    .advertisement h1 {
        color: #b9babe;
        font-size: 36px;
        text-align: center;
    }
    .member-icon { top: -15px;}
    .feature-coming-content p { width: 100%;}
    .feature-coming-content2 p { width: 100%;}
    .header-mid .pull-right{float:none !important;}
    .current-week-workout  .no-padding-right {padding-left:0px;}
    .current-week-workout  .no-padding-left {padding-right:0px;}
    .profile-header .header-mid {
        margin-bottom: 28px;
        margin-top: 76px;
        overflow: hidden;
        padding: 0 !important;
    }
    .profile-nav {overflow: hidden;
                  padding:  15px;}

    .profile-nav li {
        float: none;
        margin-left: 0;
        text-align: center;
    }
    .navbar-header {margin-top: 27px;}
    #navbar {background: none repeat scroll 0 0 #fdfdfd;
             color: #fff;
             height: 7px;}
    .current-batting {padding-right:0px;}
    #navbar .pull-right {float:none !important;}
    .weekly-icon {
        background: url("../images/weekly_icon.png") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
        display: inline-block;
        height: 43px;
        position: absolute;
        right: 23px;
        top: 19px;
        width: 45px;
    }
    .header-mid h3 {color: #fff;
                    font-size: 28px;
                    font-weight: bold;
                    margin: 10px 0 0 12px;}
    .member-service .current-week-workout {
        padding: 25px 10px;
    }
    .blue-border {
        margin: 15px -10px;
    }
    .content {
        padding: 15px 0 30px;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        font-size: 13px;
    }
.current-week-workout .video_player{width:100%;}
.profile-header-ladies .img-lft,.img-rgt{display:none;}


}

.player-logo a{outline:none;}
.mgs-cont .message{position:static; padding:5px 0px; width:100%; text-align:center;}
#tempdiv .input.file{ float: left;}  


@media only screen and (max-width:320px){
.game-stats-table{width:268px; margin-left:-22px; overflow-x:scroll;}
.game-stats-bg .profile-img-box li img {width:100%!important;}  
.nr-img{margin-bottom:15px;}
.panel-bodyc,.panel-bodyc .col-sm-4{padding-left:0px!important; padding-right:0px!important;}
}


@media only screen and (min-width:321px) and (max-width: 360px)  {
    .member-service h1 { padding: 10px 25px; font-size:30px;}
    #popover640679 { left: 15px; min-width: 300px; position: absolute; top: 43px;}
    #popover640679 .arrow { left: 88%;}
	.game-stats-bg .profile-img-box li img {width:100%!important;}
	.game-stats-table{width:280px; margin-left:-10px; overflow-x:scroll;} 
    .nr-img{margin-bottom:15px;} 
    .header-mid h3{margin:10px 0 0;} 
.panel-bodyc,.panel-bodyc .col-sm-4{padding-left:0px!important; padding-right:0px!important;}	
}   

@media only screen and (min-width:361px) and (max-width: 480px)  {
    #popover640679 { left: 109px; top: 49px;}
	.game-stats-table{width:280px; overflow-x:scroll;}
	.nr-img{margin-bottom:15px;}  

}

@media only screen and (min-width:481px) and (max-width: 600px)  {
    #popover640679 { left: 228px; top: 49px;}

}

@media only screen and (min-width:601px) and (max-width: 640px)  {
    #popover640679 { left: 269px; top: 49px;}

}
@media only screen and (min-width:641px) and (max-width: 768px)  {
    #popover640679 { left: 234px; top: 64px;}
	.header-mid h2 { font-size: 22px; margin: 17px 15px;}
	.header-mid h3{ font-size: 22px; margin: 32px 0 0; padding: 0;}
	.header-mid .col-sm-4 .col-sm-4{padding:0px;}
	.header-mid .col-sm-4 .col-sm-4 a img{margin-top: 6px; width: 100%;}
	.header-mid .col-sm-4 .col-sm-8{padding-right:0px;}
	.profile-nav li a {font-size: 16px;}
	.advertisement h1 {font-size: 32px; margin: 0;}
	.feature-coming h1 {font-size: 22px;}
	.fielding-position div {width: 100%;}
	.col-sm-2.no-add{display:none;}
	.profile-premium .pro-min{ min-height:318px;}
	.profile-img-box ul{ text-align:center;}  
	.profile-img-box li{display:inline-block; width:100%!important; float:none!important;}
 .game-stats-bg .member-service h1{font-size:20px!important;margin-bottom:10px;padding:0!important;} 
 .yold{width:100%!important;}
 .btn.btn-primary.btn-primaryt{font-size: 8px;padding: 6px 3px;word-wrap: break-word;}
	.bating-stic{width:611px; overflow: scroll;}

}

@media only screen and (min-width:769px) and (max-width: 800px)  {
    #popover640679 { left: 234px; top: 64px;}
	.header-mid h2 { font-size: 22px; margin: 17px 15px;}
	.header-mid h3{ font-size: 22px; margin: 32px 0 0; padding: 0;}
	.header-mid .col-sm-4 .col-sm-4{padding:0px;}
	.header-mid .col-sm-4 .col-sm-4 a img{margin-top: 6px; width: 100%;}
	.header-mid .col-sm-4 .col-sm-8{padding-right:0px;}
	.profile-nav li a {font-size: 16px;}
	.advertisement h1 {font-size: 34px; margin: 0;}
	.feature-coming h1 {font-size: 22px;}
	.fielding-position div {width: 100%;}
  .bating-stic{width:611px; overflow: scroll;}

}



@media only screen and (min-width:801px) and (max-width: 900px)  {
    #popover640679 { left: 234px; top: 64px;}
	.header-mid h2 { font-size: 22px; margin: 17px 15px;}
	.header-mid h3{ font-size: 22px; margin: 32px 0 0; padding: 0;}
	.header-mid .col-sm-4 .col-sm-4{padding:0px;}
	.header-mid .col-sm-4 .col-sm-4 a img{margin-top: 6px; width: 100%;}
	.header-mid .col-sm-4 .col-sm-8{padding-right:0px;}
	.profile-nav li a {font-size: 16px;}
	.advertisement h1 {font-size: 34px; margin: 0;}
	.feature-coming h1 {font-size: 22px;}
	.profile-nav li {margin-left: 20px !important;}
	.fielding-position div {width: 100%;}

}

@media only screen and (min-width:901px) and (max-width: 980px)  {
    #popover640679 { left: 234px; top: 64px;}
	.header-mid h2 { font-size: 22px; margin: 17px 15px;}
	.header-mid h3{ font-size: 22px; margin: 32px 0 0; padding: 0;}
	.header-mid .col-sm-4 .col-sm-4{padding:0px;}
	.header-mid .col-sm-4 .col-sm-4 a img{margin-top: 6px; width: 100%;}
	.header-mid .col-sm-4 .col-sm-8{padding-right:0px;}
	.profile-nav li a {font-size: 16px;}
	.advertisement h1 {font-size: 34px; margin: 0;}
	.feature-coming h1 {font-size: 22px;}
	.profile-nav li {margin-left: 20px !important;}
	.fielding-position div {width: 100%;}

}

@media only screen and (max-width:1024px){
  
.main .profile-header-ladies .profile-nav li { margin-left: 15px;}
.profile-header-ladies .profile-nav li a { padding-left: 10px;}
.main .profile-header-ladies .img-rgt { right: -50px; top: -10px;  width: 15%;}
.game-stats-bg .profile-img-box li{width:38%;}




}

@media only screen and (min-width:981px) and (max-width: 1024px)  {
    #popover640679 { left: 416px; top: 64px;}
	.header-mid h2 { font-size: 28px; margin: 17px 15px;}
	.header-mid h3{ font-size: 28px; margin: 32px 0 0; padding: 0;}
	.header-mid .col-sm-4 .col-sm-4{padding:0px;}
	.header-mid .col-sm-4 .col-sm-4 a img{margin-top: 0px;}
	.header-mid .col-sm-4 .col-sm-8{padding-right:0px;}
	.profile-nav li a {font-size: 23px;}
	.advertisement h1 {font-size: 46px; margin: 0;}
	.feature-coming h1 {font-size: 30px;}
	.profile-nav li {margin-left: 20px !important; margin-top:0px;}
	.feature-coming-content p {width: 100%;}

}
@media only screen and (min-width:1025px) and (max-width: 1200px)  {
    #popover640679 { left: 416px; top: 64px;}

}

@media only screen and (min-width:768px) and (max-width: 899px){
    .profile-nav li {float: left;font-size: 22px;margin-left: 17px;}
	
}


@media only screen and (min-width:900px) and (max-width: 1024px)  {
    .profile-nav li {float: left; margin-left: 40px;}
	
	
}
.loadinggifhalf { background:rgba(255, 255, 255, 1) url('../img/loadinga.gif') no-repeat; background-position:98% center; background-size: 10% auto; color:red; position: absolute; top:0; right:0;width:50%; }
.loadinggif { background:rgba(255, 255, 255, 1) url('../img/loadinga.gif') no-repeat; background-position:98% center; background-size: 10% auto; color:red; position: absolute; top:0; right:0; }
.list{ padding: 0; margin: 0; list-style: none; background: #f6f6f6; }
.list li{ padding:4px 6px; cursor: pointer; }
.list li:hover, .list li:focus, .list li:active{ background: #e4e3e8; }
#user_stats .input.text{ position: relative; }

#data_div .video_player,.other-member-service .video_player { margin-bottom:15px; position:relative;}    
.time_slider{max-width:301px!important;}
.other-member-service,.form-group.form-hunrd{width:100%;}
.profile-header-ladies .profile-nav li{margin-left:15px;margin-top:35px;}
.profile-header-ladies .profile-nav li a{padding-left:15px;}
.other-member-service{float:left;}
.other-member-service .current-week-workout { margin-top:10px;}
.video_player video{width:100%;height: 370px;}  
.video_player .custom_controls{display:none;}
.container .profile-header-ladies{position:relative;}
.img-rgt {position: absolute; right:-68px; top:-33px;width:17%;}
.img-lft {position:absolute; right:0px; top:0px;}
.profile-header-ladies .img-rgt {right:-68px;top:-20px; width:15%;}
.profile-header-ladies .img-lft {left:27px; top:85px; width: 10%;}



@media only screen and (max-width: 767px){
  .workout-inner button, .practice-inner button{ margin-top: 0 !important;}
  .lboard,.yold{width:100%!important; display:inline-block; margin-top:15px;} 
  .yold iframe{width:100%;}
  .profile-premium{padding-left:0px!important;}
  .spc-lt-rt{margin:0px!important;}
  .pro-min{float:none; width:100%!important; margin-bottom:10px;}
  .game-stats-bg .profile-img-box li { margin: 0 auto; width:94%; text-align:center;}  
   .game-stats-bg .profile-img-box li img{width:auto;}  
   .architech{max-width:355px;}   
   .game-stats h1{overflow:hidden;}
  .header-mid h2{color:#000;} 
  .stable-ink{float:left;width:100%;}  
  .bating-stic{float:left;} 
  .pro-clr{clear:both;}   
  
}
.popover-title {font-size:18px;}
.link-red a {color:#fff; text-decoration:none;}
.link-red a:hover{color:#0E689D; text-decoration:none;}
.tournament-link { padding:0px; list-style:none;}
.tournament-link li a {color:#0E689D; text-decoration:none; font-family:calibri; font-size:18px;}
.tournament-link li a:hover {color:#AA0F13; text-decoration:none; }
.field-query{max-width:200px;}
.bordr-padd-set{padding:0px;}
.custom-striped > tbody > tr:nth-child(2n+1) > th {
  background: #ffc000 none repeat scroll 0 0;
  border: 2px solid #000;
  color: #000000;
  font-weight: bold;
}
.table-striped > tbody > tr:nth-child(2n) > td{background:#000000;color:#ffffff;font-weight:bold;  border: 2px solid #000;}
.table-striped > tbody > tr:nth-child(2n+1) > td{background:#cfe7f5;color:#000000;font-weight:bold;  border: 2px solid #000;}
.btn-blue{
  background:#002060;
  color:#ffffff;
  text-align:center;
  margin-top:20px;
  border-radius:0;
}
.btn-blue:hover,.btn-blue:focus{
  background:#021439;
  color:#ffffff;
  text-align:center;
  margin-top:20px;
  border-radius:0;
}
.field-query select{
  margin-bottom:10px;
}
.player-igm{float:right;}
.congrates p{font-size:16px;  line-height:25px; font-weight:bold;}
.note-box,.congrates{ float:left;}
.congrates p,.note-box p{color:#000;}
.note-box{padding-top:15px;}
.note-box p{font-size:11px; line-height:14px;}
.inner-content{width:85%; margin:0 auto;}
.pull-right-middle{float:none!important; width:62px; display:block!important; margin:0 auto;}
.privacy a{color:#000;}
.panel-bodyc .form-control{ height:41px; padding:0px 12px; margin-bottom:5px; margin-top:5px;}

.game-stats-bg{ padding-left:0px; padding-right:0px; background:url(../images/page_background11.jpg) center  top no-repeat; background-size:cover;}
.game-stats-bg .member-service .current-week-workout{background:none;}
.game-stats-bg .current-week-workout img{width:auto;}
.game-stats-bg .feature-coming{padding:15px;}
.game-stats-bg .current-week-workout{padding-left:0px; padding-right:0px;}
.game-stats-bg .member-service h1{font-size:25px; color:#000; background:none; text-align:center;}
.game-stats-bg .feature-coming p,.game-stats-bg .feature-coming h1{color:#fff;}
.game-stats-bg .feature-coming{float:left;}
.lboard{background:#808080; padding:5px 0px; margin-bottom:-4px; text-align:center;}
.lboard strong{color:#1d0000;}
.lboard p{margin-bottom:0px; font-size:13px; line-height:16px; color:#ffffff;}
.evolution-footer{min-height:50px; background:#e46c0a; text-align:center;}
.blk-footer,.evolution-footer{ float:left; width:100%;} 
.blk-footer{background:#000; min-height:30px;}
.evolution-footer{padding-top:5px; padding-bottom:5px;}
.evolution-footer strong,.evolution-footer ul li a{color:#000;}
.evolution-footer p{margin-bottom:0px; font-size:12px; line-height:12px;}
.evolution-footer ul{float:left; width:100%; margin-bottom:0px;}
.evolution-footer ul li{display:inline-block;}
.evolution-footer ul li a{ font-weight:600; letter-spacing:1px; font-size:10px;}  
.evolution-footer{padding-top:5px; padding-bottom:5px;}
.evolution-footer strong,.evolution-footer ul li a{color:#000;}
.evolution-footer p{margin-bottom:0px; font-size:13px; line-height:12px; color:#fff;}
.evolution-footer ul{float:left; width:100%; margin-bottom:0px;}
.evolution-footer ul li{display:inline-block; color:#fff;}
.evolution-footer ul li a{font-weight:600; letter-spacing:1px; font-size:12px; color:#fff;} 

.architech{background:url(../images/top-de.png) left top no-repeat; width:100%; float:left; padding-top:30px;} 
.game-stats-bg .feature-coming p{text-align:left; margin-left:10px; font-size:15px;}
.architech-bottom{ padding-bottom:30px; background:url(../images/bottom-de.png) left bottom no-repeat; width:100%; float:left;}
.architech-mdl{overflow:hidden; color:#fff; border-left:2px solid #385c87; background:#4f81bd; border-right:2px solid #385c87;}
.in-padd{padding-left:5px;}
.middle-images-line{background:#4f81bd url(../images/top-de.png) center top no-repeat; min-height:35px;display:block; float:left; width:100%;}
.architech-mdl strong{display:block; font-size:12px; color:red;}    
.in-padd ul {
    float: left;
    padding:0px 0px 10px 14px; 
}
.in-padd ul li {
    color: #fff;
    float: left;
    line-height: 14px;
}
.in-padd ul li a {
    color: #fff;
  font-weight:normal;
    font-size: 14px;
    line-height: 19px;
    padding-left: 7px;
     font-family: caption;
}
.profile-img-box{ width:100%; display:inline-block;}
.profile-img-box li{ float:left; width:31.3%; list-style-type:none; min-height:237px;}
.profile-img-box li span{ color: #002060;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;}
.profile-img-box li.rght-spc{ margin-right:50px;}
.profile-img-box li  img.nr-img{ margin-right:15px;}
.profile-premium{ display: table; padding-left: 25px;width: 100%;}
.profile-premium .pro-min{ min-height:200px; border-radius:4px 4px 24px 24px; background:#fff; float:left; width:29%; border:3px solid #385d8a;}
.profile-premium .pro-min strong{ display:block; text-align:center; padding:5px 0px 10px 0px; color:#fff; text-transform:uppercase; font-size:12px; line-height:15px;
 background:#4f81bd; border-bottom:3px solid #385d8a;}
.profile-premium .pro-min ul{ padding-left:18px; margin-bottom:0px;}
.profile-premium .pro-min li,.profile-premium .pro-min em{ color:#000000;font-size: 12px;}
.spc-lt-rt{ margin-left:5%; margin-right:5%; font-size: 12px;}
.profile-premium .pro-min li{ line-height: 17px;  padding-left: 15px;}

.profile-premium .pro-min em {display: block; text-align: center; padding-left: 10px;}
.profile-premium .pro-min p{ color: #000000; font-size: 12px;font-weight: bold;line-height: 15px; padding-left: 15px;  padding-right: 15px; text-align: center;} 
.pro-th{ margin-top:20px;}
.imgdc img{width:100px!important;}    
.yold{width:72%; float:right; padding-top:25px;} 
.yold p{font-size:16px; color:#ffffff;} 
.nopading-spc{padding-left:0px!important; padding-right:0px!important;float: left;}
.siming-spc{float: left;font-size: 12px !important;width: 50%;}  
.current-week-workout .stable-ink{ max-width:100%!important;}
.current-week-workout .stable-ink li{float:left; margin-right:15px;}
.srch-disp{width:100%; text-align: center; float: left;}
.member-svc-cntent .panel-bodyc .control-label{width:100%;}
.member-svc-cntent .text{ float:left; width:78%;}
.member-svc-cntent .checkbox{ float:left;}
.member-svc-cntent .checkbox .txtchk{width:30px; margin-top:-4px;}
.listitem{ width: 49%;}  

.right_slider .getSchool{ height: 150px; overflow: hidden;position: relative;}
.right_slider .getSchool img{ position: absolute; transform:translateX(-270px); opacity: 0; transition: all linear .3s;
  -o-transition: all linear 500ms;  -moz-transition: all linear 500ms;  -webkit-transition: all linear 500ms;}
.right_slider .getSchools{ width: 100%; overflow: auto; height: 30px;}
.right_slider .getSchools a img{ width: 31px; height: 33px;}

.right_slider .getSchool img:target {transform:translateX(0px); opacity: 1; z-index: 99;}
.right_slider .getSchool img#big0{ transform:translateX(0px) !important; opacity: 1;}
.save-personal{float:left; width:100%;}
.frmaid,.frmdid{width:78%;}
.frmaid{height:125px;} 
.success-msg.pro-suc{ margin-bottom: 10px;}   
#fileupload .fileupload-buttonbar{margin-bottom:5px;}
/**/
.videoSections iframe , .thumbImg{
  background: #cccccc none repeat scroll 0 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
}
.thumbImg{ margin: 0!important;}
.imagesSection .fresco, .img-box.mix {
  display: inline-block;  
  max-height: 248px;
  min-height: 248px;
  width: 100%;
}
.thumbImg{ height: 100%; min-height: 248px;max-height: 248px; }
.gellerTittle{ border-bottom:1px solid #ccc; padding-bottom: 0px; margin-bottom: 25px; margin-top: 10px;  }
.headingBlue{ background: #3572b0; color: #fff; text-align: center; display: inline-block; width: 100%; padding: 10px; margin:0 0 25px;  text-transform: uppercase; }
@media screen and (max-width: 1200px){ .thumbImg{ min-height: 140px; }  }
ul.list-inline.socialLinks {
  padding-top: 15px;
  text-align: center;
}
.fb_iframe_widget{ top:-5px; }

.errorObj_work, .errorObj_prac,.success-msg{ margin: 10px 15px; width: 93%;}
.fileupload-buttonbar span{ display: inline-block;
    font-size: 11px;
    line-height: 14px;
    margin: 5px 0 0;}

table#results th, table#results td {
  font-size: 9px !important;
}
.profile-current > img {
    border: 5px solid #a52a2a;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff0000;
    min-height: 180px;
}

