/*===== Reset Here =======*/

.second_test {
  margin-top: 13px;
  padding-left: 6px;
}

.testimonial{display:inline-block; width:100%; position:relative;}
.people-saying{background:#27507f; padding-top:18px; padding-bottom:25px;}
.bg-aprt-left{
  background: none repeat scroll 0 0 rgba(104, 90, 71, 0.8);
  left: 0;
  padding-bottom: 30px;
  padding-top: 15px;
  position: absolute;
  text-align: right;
  top:0;
  width:47.8%;
  height: 120px;
}
.banner-text {
  height: 120px;
  left: 0;
  padding-bottom: 30px;
  padding-top: 15px;
  position: absolute;
  text-align: right;
  top: 42%;
  width: 100%;
}
.banner-text span{ font-weight:300;}
.banner-text strong, .banner-text span {
  color: rgb(255, 255, 255);
  display: block;
  float: left;
  font-size: 41px;
  line-height: 41px;
  /* padding-left: 11%; */
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
.banner-text strong { font-weight: 700;}
h1 strong{font-weight:600;}
.quotes{background:#2c5789; padding-top:12px; padding-bottom:15px;}
.paul-man-box {
  border: 1px solid #5c8bc1;
  border-radius: 74px;
  float: left;
  height: 55px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 55px;
}
.paul-man-box img{margin-top:3px;}
.bcq {
  border-right: 1px solid #5b7da4;
  float: left;
  padding: 12px 9%;
  width: 84%;
}
.bcqB{width:79%;}
.welcom-box{display:inline-block; padding-bottom:75px; padding-top:75px; width:100%;}
.row-thumb {
  border-top: 1px solid #cccccc;
  margin-top: 30px;
  padding-top: 50px;
}
.row-thumb h3{margin-bottom:43px; font-weight:300;}
.thumb-box{ display:inline-block; width:100%; }
.thumb-box .img-box{float: left;
    margin: 5px;
    overflow: hidden;
    width: 24%;}
.img-box{position:relative;}
.thumb-box a{display:block;}
.thumb-box a img,.row-thumb-box{width:100%;float:left;}
.welcom-box p {
  color: #737373;
  font-size:14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 140%;
  margin-bottom: 20px;
  text-align: justify;
}
.third_test {
  padding-left: 17px;
}
.quotes p {
  color: rgb(134, 178, 229);
  font-size: 14px;
  font-weight:400;
  line-height: 150%;
  text-align: justify;
  text-transform: capitalize;
}
.quotes p a{color:#fff;}
.row-contact{width:100%; clear:both; padding-top:65px; padding-bottom:45px; background:#efefef;}
.row-contact a {
  font-size: 14px;
  text-transform: capitalize;
}
.row-contact h4{font-weight:300; margin-bottom:17px; color:#424242;/*  line-height:24px; */ text-transform:uppercase;}
.txtbx{ height:31px;  box-sizing:border-box;  line-height:31px;}
.cont-form li {
  float: left;
  margin-bottom:18px;
  width: 100%;
}
.row-contact .cont-form li {
  float: left;
  margin-bottom: 12px;
  width: 100%;
}
.email-contact, .day-time {
  margin-top: 56px;
}
.txtarea,.txtbx{padding-left:10px; padding-right:10px; font-size:16px;}
.row-contact .txtarea, .row-contact .txtbx {
  float: left;
  font-size:14px;
  width: 100%;
}
.cont-form li button,.txtarea,.txtbx{width:100%; font-weight:400; background-color:#e1e1e1; border:0px;}
.txtarea{height:104px; padding-top:10px; resize:none;}
.cont-form li button {
  background-color: #9b9b9b;
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 54px;
  line-height: 53px;
  text-align: center;
}
.txtarea:focus,.txtbx:focus{border:none; outline:none}
.contact-mail{margin-bottom:30px;}
.contact-mail strong{ margin-bottom:10px;}
.contact-mail strong, .ofc {
  display: block;
  font-size:14px;
  font-weight: 600;
}
.contact-mail strong a,.contact-detail strong,.office-time span{color:#737373;}
.contact-mail strong span, .contact-detail strong a {
  font-weight: 400;
  text-transform: none;
}
.office-time span {
  display: block;
  font-size:14px;
  font-weight: 400;
}
.ofc{color:#737373;}
.office-time span strong{font-weight:600;}
.ofc,.office-time span{margin-bottom:7px;}
.gallery-box {
  display: inline-block;
  margin: 0 0 24px;
  width:100%;
}
.gallery-box li {
  float: left;
  margin-bottom: 2px;
  margin-right: 4px;
  width: 25.33%;
}
.gallery-box img {
  max-width: 100%;
  width: 100%;
}
.about_descr{ padding-right:0;}
.hover-box{
    width:100%; 
    display:block; 
    height:100%; 
    position:absolute; 
    left:0px; 
    top:0px;    
    background:#000 url(../images/zoom-img.png) center 50% no-repeat; 
    opacity:0; 
    -webkit-transition: all 0.5s ease 0s; 
    -moz-transition: all 0.5s ease 0s; 
    -o-transition: all 0.5s ease 0s; 
    transform:scale(1);}
.safari .hover-box{display:none;}
.img-box img{
     -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;  
    -o-transition: all 0.5s ease 0s; 
     transition: all 0.5s ease 0s;  
}
.img-box:hover .hover-box{ 
    cursor:pointer; 
    transition: all 0.5s ease 0s;  
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;  
    -o-transition: all 0.5s ease 0s; 
    opacity: 0.5;
    }
    .img-box:hover img{
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;  
    -o-transition: all 0.5s ease 0s; 
     transition: all 0.5s ease 0s;  
    transform: scale(1.4);
    }
.safari .img-box:hover .hover-box{display:block;}


.banner_container{ float:left; width:100%; position:relative;}
.banner_container img{ float:left; width:100%; border-bottom:8px solid #2c5789;}
.banner_container .banner_text{ position:absolute; left:0; top:34%; width:100%; text-align:center;}
.banner_container span {
  background: none repeat scroll 0 0 rgba(44, 87, 137, 0.64);
  color: #ffffff;
  display: inline-block;
  font-size: 52%;
  font-weight: 300;
  min-height: 106px;
  padding: 36px 29px;
  text-transform: uppercase;
}
.sample span {
  padding: 34px 73px;
}
.about .banner_text span {
  font-size: 49%;
  padding: 35px 4%;
}
.contact-del {
  padding-right:18%;
}
.banner_container span small{ font-weight:700;}
.feature_box.serve{ margin:65px 0 0;}
.feature_box{ width:100%; display:inline-block; margin:0px 0 0;}
.feature_box .img_box{ margin:6px 0% 0 0; padding:0;}
.feature_box .img_box.right{ float:right; text-align:right; margin:6px 0 0 2%;}
.feature_box .img_box  img{ vertical-align:top; margin:0 0 5px; }
.feature_box .img_box p {
  font-size: 13px;
  letter-spacing: 0;
  padding-right: 12px;
  text-align: left;
}
.feature_box .img_box strong{ font-weight:normal; font-weight:700;}
.feature_box h2, .sub-contact h2 {
  border-bottom: 1px solid #cccccc;
  color: #2c5789;
  font-weight: 300;
  margin: 0 0 33px;
  padding: 0 0 30px;
}
.feature_box h2{ line-height:45px;}
.feature_box p {
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23px;
  margin-bottom:21px;
  text-align: justify;
}
.cont-right  span {
  float: left;
  width: 100%;
}
.cont-right {
  margin-top: 10px;
}
.feature_box .services{ }
.feature_box .services li{ background:url(../images/arrow.png) no-repeat left center; padding:0 0 0 35px; font-size:16px; color:#737373; font-weight:400; line-height:24px;}
.feature_box .services li a{ color:#737373; }
/*============  styling of contact page =================*/
.main-contact{background:#fff; display:inline-block; width:100%;}
/*.sub-contact{padding-top:93px; padding-bottom:65px;}*/
.sub-contact{padding-top:93px; padding-bottom:50px;}
.day-time strong,.email-contact strong{font-size:14px;  color:#2c5789; font-weight:600; }
.day-time span,.day-time strong,.email-contact strong,.email-contact span{display:block;line-height:150%;}
.day-time span, .day-time p, .email-contact span, .email-contact p {
  color: #737373;
  font-size:14px;
  font-weight: 300;
  line-height:22px;
}
.office-detail{padding-bottom:85px;}
.space-padding{padding-bottom:20px;}
.sub-contact .txtbx {
  float: left;
  height:61px;
  line-height: 29px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.contact-del a {
  float: left;
  font-size:14px;
}

.sub-contact .txtarea{height:249px; }
.email-contact span a,.email-contact span a strong{color:#737373;}
.email-contact span a strong{display:inline-block;}
.email-contact span a strong:hover{text-decoration:underline;}
.nav-social-icon{padding-top:33px;}
.contactpage .header{padding-bottom:48px;}
#owl-demo1.owl-carousel .owl-wrapper-outer .item img {
  float: left;
  margin: 0 26%;
  padding: 4%;
  width: 47%;
}
#owl-demo1.owl-carousel .owl-wrapper-outer{height:auto;}
#owl-demo1 .owl-controls .owl-pagination,#owl-demo .owl-controls .owl-buttons{display:none;}
#owl-demo1.owl-theme .owl-controls .owl-buttons{bottom:auto; top:-108px; right:15px;}
.feature_box .box{ padding-top:41px; padding-bottom:31px; border-bottom:1px solid #ccc;}
.feature_box.testi.first{ margin:100px 0 0;}
.feature_box.testi.first .box{ padding-bottom:31px; padding-top:5px;}
.feature_box.testi.last .box{ border:none; padding-top:41px; padding-bottom:105px;}
.feature_box.testi span {
  color: #2c5789;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  float: left;
  width:100%;
}
.testi  h2{margin-bottom: 30px;}
.feature_box.testi{ margin:0;}
.row-contact p {
  color: #737373;
  font-size: 14px;
  font-weight:400;
  letter-spacing: -0.8px;
  line-height: 20px;
  padding: 0 0 19px;
  text-align: justify;
}
.row-contact p strong {display: block; font-weight: 600;}
.samplepage .row-thumb{margin-top:0px; padding-top:0px; border-top:0px;}
.sample-about-text p{font-size:14px; line-height:24px; color:#737373; font-weight:400;}
.samplepage .row-thumb{padding-bottom:60px; margin-top:85px;}
.top-spc{margin-top:7px;font-size:14px!important;}



/*--7 march css--*/
.owl-wrapper,.item{
  float: left;
  height: 100%;
  width:100%;
}
.owl-item {
  height: 100%;
}
.banner .item img{height: 100%;}
.bcq {
    text-transform: uppercase;
}

/*--9 march css--*/
.banner_container.about .banner_text{ top:35%;}
/* .banner_container.about .banner_text span{ padding:15px 6%;} */
.banner_container.testimoni span {
  padding: 33px 74px;
  margin-left: -2%;
}
.testimoni .banner_text {
  top: 36%;
}
.banner_container.contact .banner_text{ top:34%;}
.about_descr{}
/*.banner_container.sample .banner_text{ top:76px;}*/

.feature_box .img_box.right img{margin-bottom:60px;}
.top-spc > a {
  margin-left: 2px;
}
.bg-aprt-left span,.bg-aprt-left strong{color:transparent!important;}
address {
  margin-top: 25px;
}
.justify-align {
  text-align: justify !important;
}
.about .banner_text{top:31%!important;}
.gallery-box li a{
    float: left;
    width: 100%;
}
.sub-contact input,.sub-contact textarea{
    background: #f2f2f2;
}
.sample-about-text  a {
  float: left;
}
footer span {
  font-size: 14px;
}
.testimonial-margin-botom{
    margin-bottom: 31px!important;
}
.error {
  color: #ff0000;
  float: left;
  font-size: 12px;
  margin-top: 8px;
}
.submit-message{
    font-size: 12px;
    margin:10px 0;
}
.success-msg{color:#3c763d;}
.custom-scroll {
  float: left;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}
#Container .mix{
	display: none;
}
.tabs-btns {
  display: inline-block;
  float: left;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
.filter {
  background: none repeat scroll 0 0 rgba(0,0,0,0);
  border: 1px solid #0c79be;
  font-size: 18px;
  margin-bottom: 40px;
  padding: 13px 30px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  color:#0c79be;
   position: relative;
}
.filter:before{
  background: none repeat scroll 0 0 #0c79be;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width:0;
   -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
 z-index:-1;
}
.filter:hover{
    color:#ffffff;
}
.filter:hover:before{
    width:100%;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
}
.filter.active{
  background: none repeat scroll 0 0 #0c79be;  
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  color:#ffffff;
}
/*.filter.active::after {
  border-color: #0c79be rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 15px 15px 0;
  bottom: -9px;
  content: "";
  left: 31%;
  position: absolute;
}*/
.mobile-logo,.hidden-view{
  display: none;
}
.logo_mini {
  float: left;
  margin-top: 10px;
}
.navbar-default {
  background: none repeat scroll 0 0 #fff;
}
.navbar-brand{
  color: #ffffff!important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #0085C2;
}
.navbar-brand {
  font-size: 20px;
  font-weight:300 !important;
  padding: 15px;
}
.link-clin {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  color: #737373;
  float: left;
  font-size: 14px !important;
  height: auto !important;
  line-height: 21px;
  width: auto !important;
}












