    <!-- Footer -->
    <footer class="main">

      &copy; 2015 <strong>UdaanTechnologies</strong> by
      <a target="_blank" href="http://udaantechnologies.com">The Udaan Group</a>

    </footer>

  </div>
  
</div>
