<footer class="footer">
        <p class="privacy">
        <?=$this->Html->link('Privacy Policy',['controller'=>'Categories','action'=>'privacy'],['target'=>'_blank'])?></p> 
		<p>&copy; 2001-2015 Scout Post. All right reserved. </p>
	</footer>