<footer class="footer">
        <p>Email: <a href="mailto:INFO@SCOUTPOST.US">INFO@SCOUTPOST.US</a>&nbsp; &nbsp; <a href="#">WWW.PLAYERPOST.NET</a></p>
        <p>phone: 323-510-post</p>
		<p>&copy; 2001-2015 Scout Post. All right reserved. </p>
	</footer>