<div class="content">
			<div class="col-sm-12">
				<div class="member-service about">
					<h1><?php echo $pagecontant[0]['meta_title'];?>	</h1>
					<div class="member-service-content">
					<?php echo $pagecontant[0]['page_content'];?>		
					<!--h2>No !! You can not move to this page again  </h2>
					<?= $this->Html->link('move to view profile page',['controller'=>'Categories','action'=>'profileSetting']); ?>-->

					</div>					
				</div>
			</div>
			
		</div>
		<div class="clearfix"></div>
		
	</div>