
<div class="content">
 <div class="inner-content">
			<div class="header-bottom col-sm-offset-2">
				<div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
								
			</div>
		</header>
		<div class="clearfix"></div>
		<div class="content update-profile">
			<div class="col-sm-6">
			
			<div class="congrates">
			<?php echo $pagecontant[0]['page_content'] ; ?>  
			 </div>
			 
			</div>
			<div class="col-sm-6">
			<a href="#" class="player-igm"><img src="/images/player-igm.jpg" alt=""/></a>
			</div>
			
		</div>
	</div></div>
		<div class="clearfix"></div>
