<div class="content">
			<div class="col-sm-12">
				<div class="member-service about">
					<h1>Make Your Payment First</h1>
					<div class="member-service-content">
						<p>
						you will be charged $10 for this plan 
						<?= $this->Html->link('Proceed to checkout',['controller'=>'paypal']); ?>	
						.  </p>
					</div>					
				</div>
			</div>
			
		</div>
		<div class="clearfix"></div>
		
	</div>