<div class="content game-stats">
			<div class="col-sm-12">
				<div class="member-service">
					<h1>View Game STATS</h1>
					<div class="current-week-workout">
						<div class="col-sm-5 no-padding-left">
							<h2>TOURNAMENT STATS</h2>
							<p><b>most_current_tournament _date tournament_name</b> </p>
							<p>game#_nn versus opponent_name</p>
							<div class="row">
								<div class="col-sm-8">
									<img class="game-vs-game" src="images/video_image.jpg" />
								</div>
							</div>
							<br/><br/>
							<p>game#_nn versus opponent_name</p>
							<div class="row">
								<div class="col-sm-8">
									<img class="game-vs-game" src="images/video_image.jpg" />
								</div>
							</div>
						</div>
						<div class="col-sm-2 no-padding-left">
							<div class="batting-statistics game-stats-table">
							<h3>Game VS Opponent Name</h3>
							<table class="table">
								<tr>
									<td class="text-left">AB</td>
									<td class="text-center">-</td>
									<td class="text-right">1</td>
								</tr>
								<tr>
									<td class="text-left">1B<span class="lower">s</span></td>
									<td class="text-center">-</td>
									<td class="text-right">0</td>
								</tr>
								<tr>
									<td class="text-left">2B</td>
									<td class="text-center">-</td>
									<td class="text-right">0</td>
								</tr>
								<tr>
									<td class="text-left">3B</td>
									<td class="text-center">-</td>
									<td class="text-right">1</td>
								</tr>
								<tr>
									<td class="text-left">HR</td>
									<td class="text-center">-</td>
									<td class="text-right">0</td>
								</tr>
								<tr>
									<td class="text-left">HITS</td>
									<td class="text-center">-</td>
									<td class="text-right">1</td>
								</tr>
								<tr>
									<td class="text-left">RUNS</td>
									<td class="text-center">-</td>
									<td class="text-right">1</td>
								</tr>
								<tr>
									<td class="text-left">RM</td>
									<td class="text-center">-</td>
									<td class="text-right">0</td>
								</tr>
								<tr>
									<td class="text-left">AVG</td>
									<td class="text-center">-</td>
									<td class="text-right">0.383</td>
								</tr>
								<tr>
									<td class="text-left">HA</td>
									<td class="text-center">-</td>
									<td class="text-right">3</td>
								</tr>
								<tr>
									<td class="text-left">PIP</td>
									<td class="text-center">-</td>
									<td class="text-right">1</td>
								</tr>
							</table>
							</div>
						</div>
						<div class="col-sm-3 no-padding ">
							<div class="batting-statistics game-stats-table">
							<h3><b>Tournament Name Totals </b></h3>
							<table class="table table-bordered">
								<tr>
									<th>AB</th>
									<th>1B</th>
									<th>2B</th>
									<th>3B</th>
									<th>HR</th>
									<th>HITS</th>
									<th>RUN<span class="lower">s</span></th>
								</tr>
								<tr>
									<td>7</td>
									<td>1</td>
									<td>0</td>
									<td>1</td>
									<td>0</td>
									<td>2</td>
									<td>1</td>									
								</tr>
								<tr>
									<th>BB</th>
									<th>HBP</th>
									<th>SF</th>
									<th>SO</th>
									<th>SAC</th>
									<th>SB</th>
									<th>RBI</th>
								</tr>
								<tr>
									<td>1</td>
									<td>0</td>
									<td>1</td>
									<td>0</td>
									<td>1</td>
									<td>1</td>
									<td>0</td>									
								</tr>
								
							</table>						
							</div>
						</div>
						<div class="col-sm-2 no-padding-right">
							<div class="batting-statistics game-stats-table">
								<h3><b>Tournament Name Stats</b></h3>
								<table class="table">
									<tr>
										<td class="text-left">AVG</td>
										<td class="text-center">-</td>
										<td class="text-right">0.286</td>
									</tr>
									<tr>
										<td class="text-left">SLG</td>
										<td class="text-center">-</td>
										<td class="text-right">0.571</td>
									</tr>
									<tr>
										<td class="text-left">DBP</td>
										<td class="text-center">-</td>
										<td class="text-right">0.333</td>
									</tr>
									<tr>
										<td class="text-left">TB</td>
										<td class="text-center">-</td>
										<td class="text-right">4</td>
									</tr>
									<tr>
										<td class="text-left">RC</td>
										<td class="text-center">-</td>
										<td class="text-right">1.5</td>
									</tr>
									<tr>
										<td class="text-left">PA</td>
										<td class="text-center">-</td>
										<td class="text-right">9</td>
									</tr>
									<tr>
										<td class="text-left">PIP</td>
										<td class="text-center">-</td>
										<td class="text-right">1.000</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="blue-border"></div> 
						<div class="col-sm-5 no-padding-left">
							<h2>LEAGUE STATS</h2>
							<p><b>most_current_tournament _date tournament_name</b> </p>
							<p>game#_nn versus opponent_name</p>
							<div class="row">
								<div class="col-sm-8">
									<img class="game-vs-game" src="images/video_image.jpg" />
								</div>
							</div>
						</div>
						<div class="col-sm-2 no-padding-left">
							<div class="batting-statistics game-stats-table">
							<h3>Game VS Opponent Name</h3>
							<table class="table">
								<tr>
									<td class="text-left">AB</td>
									<td class="text-center">-</td>
									<td class="text-right">1</td>
								</tr>
								<tr>
									<td class="text-left">1B<span class="lower">s</span></td>
									<td class="text-center">-</td>
									<td class="text-right">0</td>
								</tr>
								<tr>
									<td class="text-left">2B</td>
									<td class="text-center">-</td>
									<td class="text-right">0</td>
								</tr>
								<tr>
									<td class="text-left">3B</td>
									<td class="text-center">-</td>
									<td class="text-right">1</td>
								</tr>
								<tr>
									<td class="text-left">HR</td>
									<td class="text-center">-</td>
									<td class="text-right">0</td>
								</tr>
								<tr>
									<td class="text-left">HITS</td>
									<td class="text-center">-</td>
									<td class="text-right">1</td>
								</tr>
								<tr>
									<td class="text-left">RUNS</td>
									<td class="text-center">-</td>
									<td class="text-right">1</td>
								</tr>
								<tr>
									<td class="text-left">RM</td>
									<td class="text-center">-</td>
									<td class="text-right">0</td>
								</tr>
								<tr>
									<td class="text-left">AVG</td>
									<td class="text-center">-</td>
									<td class="text-right">0.383</td>
								</tr>
								<tr>
									<td class="text-left">HA</td>
									<td class="text-center">-</td>
									<td class="text-right">3</td>
								</tr>
								<tr>
									<td class="text-left">PIP</td>
									<td class="text-center">-</td>
									<td class="text-right">1</td>
								</tr>
							</table>
							</div>
						</div>
						<div class="col-sm-3 no-padding ">
							<div class="batting-statistics game-stats-table">
							<h3><b>LEAGUE Name Totals </b></h3>
							<table class="table table-bordered">
								<tr>
									<th>AB</th>
									<th>1B</th>
									<th>2B</th>
									<th>3B</th>
									<th>HR</th>
									<th>HITS</th>
									<th>RUN<span class="lower">s</span></th>
								</tr>
								<tr>
									<td>7</td>
									<td>1</td>
									<td>0</td>
									<td>1</td>
									<td>0</td>
									<td>2</td>
									<td>1</td>									
								</tr>
								<tr>
									<th>BB</th>
									<th>HBP</th>
									<th>SF</th>
									<th>SO</th>
									<th>SAC</th>
									<th>SB</th>
									<th>RBI</th>
								</tr>
								<tr>
									<td>1</td>
									<td>0</td>
									<td>1</td>
									<td>0</td>
									<td>1</td>
									<td>1</td>
									<td>0</td>									
								</tr>
								
							</table>						
							</div>
						</div>
						<div class="col-sm-2 no-padding-right">
							<div class="batting-statistics game-stats-table">
								<h3><b>LEAGUE Name Stats</b></h3>
								<table class="table">
									<tr>
										<td class="text-left">AVG</td>
										<td class="text-center">-</td>
										<td class="text-right">0.286</td>
									</tr>
									<tr>
										<td class="text-left">SLG</td>
										<td class="text-center">-</td>
										<td class="text-right">0.571</td>
									</tr>
									<tr>
										<td class="text-left">DBP</td>
										<td class="text-center">-</td>
										<td class="text-right">0.333</td>
									</tr>
									<tr>
										<td class="text-left">TB</td>
										<td class="text-center">-</td>
										<td class="text-right">4</td>
									</tr>
									<tr>
										<td class="text-left">RC</td>
										<td class="text-center">-</td>
										<td class="text-right">1.5</td>
									</tr>
									<tr>
										<td class="text-left">PA</td>
										<td class="text-center">-</td>
										<td class="text-right">9</td>
									</tr>
									<tr>
										<td class="text-left">PIP</td>
										<td class="text-center">-</td>
										<td class="text-right">1.000</td>
									</tr>
								</table>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
		<div class="clearfix"></div>
		
	</div>