<div class="content">
			<div class="col-sm-12">
				<div class="member-service about">
					<h1><?=@$pagecontant[0]['meta_title']?></h1>
					<div class="member-service-content">
					<h2><?=@$pagecontant[0]['meta_description']?></h2>
						<?=@$pagecontant[0]['page_content']?>
					</div>					
				</div>
			</div>
			
		</div>
		<div class="clearfix"></div>
		
	</div>